@charset "utf-8";
/* CSS Document */
*, div, form, ul, ol, li, dl, dt, dd {
	padding:0px;
	margin:0px;
}
div, form, ul, ol, li, dl, dt, dd {
	list-style-type:none;
	border:0px;
	display:block;
}
img {
	border:0px;
	display:inline;
}
body {
	width:100%;
	font-family: "微软雅黑", "宋体";
	color:#353535;
	font-size:13px;
	cursor:auto;
	background:url(../image/bj.png) #eaeaea;
}
/*QQ客服*/
.SonlineBox{ width:120px; font-size:12px;overflow:hidden; z-index:4;}
.SonlineBox .openTrigger{ width:30px; height:135px; position:absolute; top:0px;  z-index:1; cursor:pointer;  background:url(../image/QQ1.jpg) no-repeat;}
.SonlineBox .titleBox{background:url(../image/qqt.png); _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale',src='image/qqt.png'); _ background-image: none; padding-left:8px; width:157px; height:38px; line-height:38px;}
.SonlineBox .titleBox span{ margin-left:10px; color:#fff; font-size:14px; font-weight: bolder; font-family:'微软雅黑','黑体';}
.SonlineBox .contentBox{ width:165px; height:auto; position:absolute; z-index:2;}
.SonlineBox .contentBox .closeTrigger{ width:19px; height:19px; display:block; cursor:pointer;  position:absolute; top:12px;right:8px;-webkit-transition:all 0.8s ease-out;}
.SonlineBox .contentBox .closeTrigger:hover{-webkit-transform:scale(1) rotate(360deg);}
.SonlineBox .contentBox .listBox{background:url(../image/qqz.png);  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale',src='image/qqz.png'); _ background-image: none; overflow:hidden; padding:0 0 10px 8px; *_display:inline-block;}
.SonlineBox .contentBox .listBox .QQList{ display:block; width:90%; height:26px; margin:8px auto 0px auto; *_position:relative;}
.SonlineBox .contentBox .listBox .QQList a{ display:block; height:26px; line-height:26px; overflow:hidden;}
.SonlineBox .contentBox .listBox .QQList span{ margin-left:5px;}
.SonlineBox .contentBox .listBox .QQList img{ margin-bottom:-3px;}
.SonlineBox .contentBox .gglxfs{background:url(../image/qqz.png); _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale',src='image/qqz.png'); _ background-image: none; overflow:hidden; padding:0 0 0 8px; *_display:inline-block;}
.SonlineBox .contentBox .gglxfs dl{padding:5px; line-height:20px;}
.SonlineBox .contentBox .gglxfs dl dt{font-size:13px;}
.SonlineBox .contentBox .gglxfs dl dd{display:block; height:28px; font-size:14px;}
.SonlineBox .contentBox .kfdd{ height:15px; overflow:hidden; background:url(../image/qqd.png); _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale',src='image/qqd.png'); _ background-image: none;}
/*通用*/
.jz{
	width:985px;
	margin:0 auto;
}
.clr {
	display: block;
	height: 1px;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	font-size:0px;
}
.ziys{
	color:#055d3c;
}
.wsbmk h3{
	background:#1db079;
}
/*连接部分*/
a:link, a:visited {
	color:#000;
	text-decoration: none;
}
a:hover {
	color:#055d3c;
	text-decoration: underline;
}
a:active {
	color:#000;
	text-decoration: none;
}
.bs a:link, .bs a:visited {
	color:#fff;
}
.bs a:hover {
	color:#055d3c;
}
.bs a:active {
	color:#055d3c;
}
.qsbj a:link, .qsbj a:visited {
	color:#fff;
	background:#1db079;
}
.qsbj a:hover {
	color:#fff;
	text-decoration: none;
	background:#007046;
}
.qsbj a:active {
	color:#000;
	background:#777;
}
.lsbj a:link, .lsbj a:visited {
	color:#fff;
	background:#00a1e9;
}
.lsbj a:hover {
	color:#fff;
	text-decoration: none;
	background:#00638f;
}
.lsbj a:active {
	color:#000;
	background:#00638f;
}