@charset "utf-8";
/* CSS Document */
/*幻灯片*/
#slider {
	height:336px;
	width:969px;
	margin-bottom:20px;
	background:#FFF;
}
#slider_name {
	width:969px;
	height:336px;
	overflow: hidden;
	position: relative;
}
.silder_con {
	height:300px;
	position:absolute;
}
.silder_panel {
	width:969px;
	height:300px;
	float: left;
	position: relative;
	background: #111;
}
.silder_nav {
	height:30px;
	overflow: hidden;
	background:#d0d0d0;
	border-top:1px solid #cac6bf;
	margin-top:5px;
	position:absolute;
	bottom: 0px;
	width:969px;
}
.silder_nav li {
	float: left;
	width:22px;
	height:23px;
	line-height:22px;
	margin-left:6px;
	font-weight: bolder;
	text-align: center;
	color:#000;
	cursor:pointer;
	margin-top:2px;
	border:1px solid #999;
}
.silder_nav li.current {
	background:#f1c210;
	font-size:14px;
}
#slider_name a.prev, #slider_name a.next {
	display: block;
	width:45px;
	height:100px;
	overflow:hidden;
	text-indent: -999px;
	position:absolute;
	cursor: pointer;
	margin: 106px 0 0 0;
	background: url(../image/silder_btn.gif) no-repeat;
}
#slider_name a.prev {
	left:0;
	background-position: left 0;
}
#slider_name a.next {
	right:0;
	background-position: right 0;
}
/*产品滚动*/
#cpzsk {
	height:110px;
	display:block;
}
.LeftBotton {
	float: left;
	width:19px;
	height:36px;
	background:url(../image/cptal.jpg) no-repeat;
	cursor: pointer;
	margin-top:30px;
	margin-right:15px;
}
.RightBotton {
	float:left;
	width:19px;
	height:36px;
	background:url(../image/cptar.jpg) no-repeat;
	cursor: pointer;
	margin-top:30px;
	margin-left:15px;
}
#ISL_Cont {
	width:901px;
	height:100px;
	overflow:hidden;
	float:left;
}
.ScrCont {
	width:3000px;
}
#List1, #List2 {
	float:left;
}
.ScrCont dl{
	float:left;
	width:100px;
	padding:0 10px;
}
.ScrCont dl dt{
	height:75px;
	width:100px;
	overflow:hidden;
	text-align:center;
	display:block;
	vertical-align:middle;
}
.ScrCont dl dt b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.ScrCont dl dt img{
	vertical-align:middle;
	max-width:100px;
	max-height:75px;
 _width:expression(this.width > 100 && this.width > this.height ?100: true);
 _height:expression(this.height > 75 ? 75 : true);
}
.ScrCont dl dd{
	height:18px;
	line-height:18px;
	text-align: center;
	overflow:hidden;
}
.ScrCont dl a{
	filter: Alpha(Opacity=80);
	opacity:0.8;
	display:inline-block;
	cursor:pointer;
}
.ScrCont dl a:hover{
	filter: Alpha(Opacity=100);
	opacity:1.0;
	text-decoration: none;
}
/*三个*/
.sysg{
	background:#ccc;
	border:3px solid #eee;
	padding:1px;
}
.sysgk{
	background:#FFF;
	padding:10px;
}
.sysgt{
	height:28px;
	line-height:26px;
	overflow:hidden;
	border-bottom:1px dotted #ccc;
}
.sysgt h1{
	float:left;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	padding-left:6px;
}
.sysgt a{
	float:right;
	margin-right:8px;
	margin-top:1px;
}
.sysgx{
	height:276px;
	overflow:hidden;
}
.spjs{
	float:left;
	background:#FFF;
	width:230px;
	border-right:1px  solid #ccc;
	padding-right:10px;
}
.spjs dl dt{
	width:230px;
	height:175px;
	overflow:hidden;
	padding:10px 0;
}
.spjs dl dd{
	display:block;
	height:24px;
	line-height:24px;
	border-bottom:1px solid #eee;
}
.spjs dl dd h2{
	width:70%;
	overflow:hidden;
	float:left;
	font-weight: normal;
	font-size:12px;
}
.spjs dl dd span{
	width:30%;
	overflow:hidden;
	float:left;
	text-align: right;
}
.sylb{
	float:left;
	width:395px;
	padding:0 10px;
	border-right:1px  solid #ccc;
}
.sylb .sysgx{
	margin-top:10px;
	height:266px;
}
.sylb dl{
	height:26px;
	overflow:hidden;
	color:#daac00;
}
.sylb dl dt{
	float:left;
	width:74%;
	height:18px;
	overflow:hidden;
}
.sylb dl dt a{
	position:relative;
	bottom: -2px;
	margin-left:2px;
}
.sylb dl dd{
	width:20%;
	float:left;
	text-align: right;
	color:#ccc;
	line-height:20px;
}
.lxwm{
	float:left;
	width:274px;
	padding-left:10px;
}
.lxwm dl dt{
	width:187px;
	height:134px;
	margin:10px auto;
}
.lxwm dl dd{
	line-height:20px;
}
/*分页*/
.cbl{
	float:left;
	width:200px;
	margin-right:15px;
	overflow:hidden;
	background:#ccc;
	padding-bottom:33px;
}
.cbl dl dt{
	height:32px;
	line-height:32px;
	padding:0 25px;
	border-bottom:1px solid #e4e4e4;
	background:#b5b5b5;
	font-size: 14px;
	font-weight: bolder;
	color:#333;
	margin-bottom:6px;
}
.cbl dl dd{
	height:26px;
	overflow:hidden;
	line-height:26px;
	padding:0 8px;
}
.cbl dl dd.cbbt{
	font-weight: bolder;
	color: #FFF;
}
.cbl dl dd.xz a{
	padding:0px 15px;
	background:#e4e4e4;
	border:1px solid #bcbcbc;
	border-bottom:1px solid #e9e9e9;
	border-right:1px solid #f4f4f4;
	text-decoration: none;
}
.cbl dl dd a{
	padding:1px 15px;
	height:24px;
	overflow:hidden;
	display:block;
}
.cbl dl dd a:hover{
	padding:0px 15px;
	background:#e4e4e4;
	border:1px solid #bcbcbc;
	border-bottom:1px solid #e9e9e9;
	border-right:1px solid #f4f4f4;
	text-decoration: none;
}
.nry{
	float:left;
	width:754px;
	overflow:hidden;
}
.dqwz{
	background:#ffcc00;
	padding:10px;
}
.dqwzs{
	height:22px;
	overflow:hidden;
	border-bottom:1px solid #e6b800;
}
.dqwzs h1{
	font-size:14px;
	float:left;
	width:222px;
	padding-left:8px;
}
.dqwzs h2{
	width:500px;
	float:left;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	margin-top:4px;
	color:#6D7173;
}
.dqwzs h2 a{
	margin:0 6px;
}
.dqwzx{
	padding:8px;
	line-height:20px;
	color:#666;
	border-top:1px solid #ffe787;
}
/*分页*/
.sxy{
	display:block;
	height:30px;
	clear: left;
	padding:30px 30px 15px;
}
.sxy a{
	padding:3px 10px;
	background:#333;
	margin:0 3px;
	display:inline-block;
}
.sxy span a{
	*position: relative;
	*top: -1px;
	*padding-top:4px;
}
.sxy a.xz{
	background:none;
	color:#333;
	padding:2px 9px;
	border:1px solid #333;
}
.sxy a.xz:link, .sxy a.xz:visited {
	color:#333;
}
.sxy a.xz:hover {
	color:#333;
}
.sxy a.xz:active {
	color:#333;
}
/*产品列表*/
.cplb{
	padding-top:10px;
}
.cplb dl{
	float:left;
	width:180px;
	margin:0 34px 35px;
	*_margin:0 24px 35px;
}
.cplb dl a{
	padding:10px;
	height:159px;
	overflow:hidden;
	display:block;
	border:1px solid #fff;
	position:relative;
}
.cplb dl a:hover{
	border:1px solid #e4e4e4;
}
.cplb dl dt{
	width:160px;
	height:120px;
	overflow:hidden;
	text-align:center;
	display:block;
	vertical-align:middle;
}
.cplb dl dt b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.cplb dl dt img{
	cursor:pointer;
	vertical-align:middle;
	max-width:160px;
	max-height:120px;
 _width:expression(this.width > 160 && this.width > this.height ?160: true);
 _height:expression(this.height > 120 ? 120 : true);
}
.cplb dl dd{
	width:152px;
	height:29px;
	background:url(../image/cpan.jpg);
	line-height:28px;
	text-align: center;
	overflow:hidden;
	margin-left:4px;
	margin-top:8px;
}
.cplb dl div.title{
	background:#272727;
	filter: Alpha(Opacity=70);
	opacity:0.7;
	position:absolute;
	top:180px;
	color:#fff;
	left:0px;
	width:178px;
	*_width:180px;
	text-align: left;
	cursor:pointer;
}
.cplb dl div.title ul{
	margin:3px 10px;
}
.cplb dl div.title ul li{
	margin-bottom:5px;
	line-height:14px;
}
.cplb dl div.title ul li b{
	margin-right:6px;
}
/*文章列表*/
.wzlb{
	padding:10px 60px;
}
.wzlb dl{
	height:32px;
}
.wzlb dl dt{
	width:70%;
	float:left;
	overflow:hidden;
	height:18px;
}
.wzlb dl dt a{
	position:relative;
	bottom: -2px;
	margin-left:2px;
}
.wzlb dl dd{
	margin-left:5%;
	width:20%;
	float:left;
	overflow:hidden;
	color:#ccc;
	line-height:24px;
}
/*文章内容*/
.wznr{
	margin:30px 20px 0;
}
.wznrt{
	text-align: center;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:8px;
	margin:0 18px 16px;
}
.wznrt h1{
	font-size:16px;
	padding:10px 0 12px;
	color:#2b2b2b;
}
.wznrt span{
	margin:0 16px;
	color:#a9a9a9;
}
.wznrzw{
	padding:0 30px 30px;
	line-height:200%;
	font-size:14px;
	color:#5e5e5e;
}
.wznrzw pre{
	z-index:-1;
}
.wznrzw img{
	margin:16px 20px;
	cursor:pointer;
	padding:1px;
	height:330px;
	border:1px solid #d7d7d7;
	z-index:1;
}
/*上下篇*/
.sxp{
	margin:0 10px;
}
.sxp span, .sxp b{
	float:left;
	background:url(../image/bddd.jpg) no-repeat 0 7px;
	*background:url(../image/bddd.jpg) no-repeat 0 6px;
	height:22px;
	line-height:22px;
	width:40%;
	overflow:hidden;
	padding-left:11px;
}
.sxp b{
	float:right;
	font-weight: normal;
}
/*人才招聘*/
#rczpl h3{
	height:32px;
	line-height:32px;
	padding:0 25px;
	border-bottom:1px solid #e4e4e4;
	background:#b5b5b5;
	font-size: 14px;
	font-weight: bolder;
	color:#333;
	margin-bottom:6px;
}
#rczpl ul{
	padding:0 8px;
	overflow:hidden;
}
#rczpl ul li.ztwdj{
	padding:1px 15px;
	height:24px;
	line-height:24px;
	background:none;
	border: none;
}
#rczpl ul li{
	height:26px;
	line-height:26px;
	padding:0px 15px;
	background:#e4e4e4;
	border:1px solid #bcbcbc;
	border-bottom:1px solid #e9e9e9;
	border-right:1px solid #f4f4f4;
	cursor:pointer;
	overflow:hidden;
	margin-bottom:3px;
}
#rczpr{
	padding:10px 30px 20px;
}
#rczpr ol li{
	padding-bottom:30px;
}
#rczpr ol li dl dt{
	font-size:16px;
	height:26px;
	overflow:hidden;
	color:#ad7a00;
	font-weight: bolder;
}
#rczpr ol li dl dt i{
	font-size: 12px;
	font-style: normal;
	margin-left:20px;
}
#rczpr ol li dl dd{
	float:left;
	width:46%;
	padding-left:3%;
	line-height:16px;
	padding-bottom:6px;
	color:#666;
}
#rczpr ol li dl dd b{
	font-weight: normal;
	color:#505050;
}
#rczpr ol li dl.zpxx dt{
	height:22px;
	line-height:22px;
	padding-left:14px;
	background:#FFE16C;
	font-size:12px;
	margin:0 8px;
	font-weight: normal;
}
#rczpr ol li dl.zpxx dd{
	padding:5px 30px 10px;
	display: inline-block;
	float:none;
	width:auto;
}
.zxnslx{
	padding-bottom:20px;
}
.zxnslx dl dt{
	height:28px;
	line-height:28px;
	font-size:14px;
	background:#333;
	padding:0 30px;
	font-weight: bolder;
	color: #FFF;
	margin-bottom:10px;
}
.zxnslx dl dd{
	width:40%;
	padding-left:5%;
	float:left;
	line-height:16px;
	padding-bottom:6px;
	color:#666;
}
.zxnslx dl dd b{
	font-weight: normal;
	color:#505050;
}
/*产品内容*/
.cpnr{
	padding:10px 10px 88px;
}
#cpnrd{
	float:left;
	width:330px;
	height:330px;
	overflow:hidden;
	margin:20px 25px 0 50px;
	display: inline;
}
#cpnrd ol li {
	width:330px;
	height:330px;
	overflow:hidden;
}
#cpnrd ol li img{
	vertical-align:middle;
	max-width:330px;
	max-height:330px;
 _width:expression(this.width > 330 && this.width > this.height ?330: true);
 _height:expression(this.height > 330 ? 330 : true);
}
#cpnrx {
	float:left;
	width:200px;
	margin-top:14px;
}
#cpnrx ul li {
	float:left;
	border: 1px solid #ec3439;
	padding:1px;
	width:75px;
	height:75px;
	margin-left:18px;
	*_margin-left:14px;
	margin-top:14px;
	overflow:hidden;
	cursor: pointer;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
#cpnrx ul li b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
#cpnrx ul li img{
	vertical-align:middle;
	max-width:75px;
	max-height:75px;
 _width:expression(this.width > 75 && this.width > this.height ?75: true);
 _height:expression(this.height > 75 ? 75 : true);
}
#cpnrx ul li.ztwdj {
	filter: Alpha(Opacity=70);
	opacity:0.7;
	border: 1px solid #fa9699;
}
.cpnrn h1 {
	display:block;
	font-weight: bolder;
	font-size:16px;
	height:22px;
	line-height:22px;
	color:#cc0006;
	padding:20px 50px 0;
}
.cpnrn ul {
	padding-top:8px;
	padding-left:50px;
	display:block;
	overflow:hidden;
}
.cpnrn ul li {
	display:block;
	line-height:16px;
	padding-bottom:12px;
	padding-left:16px;
}
.cpnrn ul li b {
	padding-right:8px;
}
.cpnrn h5 {
	height:24px;
	font-size:14px;
	padding-top:10px;
	padding-left:10px;
	border-bottom:1px solid #e7e7e7;
	margin:0 30px;
}
.cpnrn .spxqx {
	padding:8px 40px;
	line-height:200%;
	color:#7e7e7e;
}
.wntj h3{
	height:26px;
	line-height:26px;
	padding:0 15px;
	background:#e7e7e7;
	border-top:1px solid #ccc;
	font-size: 12px;
	margin-top:20px;
}
.wntjx dl{
	width:160px;
	padding:5px 10px;
	float:left;
}
.wntjx dl dt{
	width:160px;
	height:120px;
	overflow:hidden;
	text-align:center;
	display:block;
	vertical-align:middle;
}
.wntjx dl dt b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.wntjx dl dt img{
	cursor:pointer;
	vertical-align:middle;
	max-width:160px;
	max-height:120px;
 _width:expression(this.width > 160 && this.width > this.height ?160: true);
 _height:expression(this.height > 120 ? 120 : true);
}
.wntjx dl dd{
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-align: center;
}
/*视频专用*/
.nysp{
	text-align:center;
	margin-bottom:10px;
}
.nyspk{
	background:url(../image/syspx.jpg) center bottom no-repeat;
	padding-bottom:12px;
	display:inline-block;
	*display:inline;
}
.nyspem{
	background:#d3cde4;
	padding:4px;
	display:inline-block;
	*display:inline;
	border:1px solid #c4bab1;
}