@charset "utf-8";
/* CSS Document */
html, body {
	height:100%;
	width:100%;
}
*, div, form, ul, ol, li, dl, dt, dd {
	padding:0px;
	margin:0px;
}
div, form, ul, ol, li, dl, dt, dd {
	list-style-type:none;
	border:0px;
	display:block;
}
img {
	border:0px;
	display:inline;
}
body {
	width:100%;
	font-family:arial, '宋体', verdana, sans-serif;
	color:#5d5d5d;
	font-size:12px;
	cursor:auto;
	background:url(../image/bj.jpg) center 0 repeat-y #cccccc;
}
/*版头*/
.bt{
	height:142px;
	background:url(../image/btbj.jpg) repeat-x 0 bottom;
}
.bts{
	height:83px;
}
.logo{
	width:405px;
	float:left;
	padding:27px 32px;
}
.sos{
	width:500px;
	float:left;
}
.sos dl dt{
	height:30px;
	line-height:30px;
	text-align: right;
	margin-bottom:13px;
}
.sos dl dt a{
	margin:0 12px;
}
.sos dl dd{
	width:229px;
	height:24px;
	background:#dfdfdf;
	padding:2px;
	float:right;
	*_padding-bottom:0px;
}
.sos dl dd input{
	border:1px solid #fff;
	margin:0;
	padding:0px;
	height:22px;
	display:block;
	float:left;
}
.sos dl dd input.wzysr{
	width:190px;
	border-right:none;
	background:#efefef;
	padding-left:4px;
	padding:4px;
	height:14px;
}
.sos dl dd input.sousan{
	height:24px;
	width:30px;
	border:none;
	background:url(../image/sousan.jpg) no-repeat 0 1px #FFF;
	cursor:pointer;
	border-right:1px solid #fff;
	*border:none;
}
/*导航*/
.nav{
	height:30px;
	width:969px;
	z-index:2;
	position:relative;
	background:#333;
}
.nav ul li {
	float:left;
	width:160px;
	height:30px;
	position:relative;
	border-right:1px solid #666;
}
.nav ul li a {
	width:160px;
	text-align: center;
	padding:7px 0 7px;
	*padding:8px 0 6px;
	height:16px;
	display:inline-block;
	font-size: 12px;
}
.nav ul li .onemenulayout {
	float:left;
	width:125px;
}
.nav ul li .onemenulayout a {
	background:none;
	font-size:12px;
	padding:8px 0;
	display:block;
	width:auto;
}
.nav ul li .onemenulayout a:hover {
	background:#ffcd11;
	color:#333;
	text-decoration: none;
}
.drop_dwon {
	width:250px;
	position:absolute;
	left:0;
	top:30px;
	display:none;
	z-index:3;
	background:#333;
	padding:3px 3px 6px;
	filter: Alpha(Opacity=88);
	opacity:0.88;
}
.nav .xz a:link, .nav .xz a:visited{
	color:#333;
	background:#ffcd11;
}
.nav ul li a.currlayout{
	text-decoration: none;
	background:#ffcd11;
	color:#333;
	z-index: 999;
	position: relative;
}
.nav a:link, .nav a:visited {
	color:#e0e0e0;
}
.nav .drop_dwon a:link, .nav .drop_dwon a:visited {
	color:#e0e0e0;
	background:none;
}
.nav a:hover {
	color:#333;
	background:#ffcd11;
}
.nav a:active {
	color:#f9b000;
}
/*版权*/
.bq{
	width:985px;
	margin:0 auto;
	background:#333;
	margin-top:24px;
	padding:12px 0 16px;
}
.bq dl{
	padding:0 25px;
}
.bq dl dt{
	float:left;
	color:#aaa;
	line-height:20px;
}
.bq dl dd{
	float:right;
	margin-top:50px;
}
/*QQ客服*/
.SonlineBox{ width:162px; font-size:12px;overflow:hidden; z-index:9999;}
.SonlineBox .openTrigger{ width:30px; height:135px; position:absolute; top:0px;  z-index:1; cursor:pointer;  background:url(../image/QQ1.jpg) no-repeat;}
.SonlineBox .titleBox{ width:158px; height:35px; line-height:35px; background:#ffcd11; border-bottom:1px solid #c09b11;}
.SonlineBox .titleBox span{ margin-left:10px; color:#333; font-size:14px; font-family:'微软雅黑','黑体';}
.SonlineBox .contentBox{ width:158px; height:auto; border:2px solid #c09b11; background:#fff; position:absolute; z-index:2;}
.SonlineBox .contentBox .closeTrigger{ width:19px; height:19px; display:block; cursor:pointer;  position:absolute; top:8px;right:8px;-webkit-transition:all 0.8s ease-out;}
.SonlineBox .contentBox .closeTrigger:hover{-webkit-transform:scale(1) rotate(360deg);}
.SonlineBox .contentBox .listBox{overflow:hidden; margin-bottom:10px;}
.SonlineBox .contentBox .listBox .QQList{ display:block; width:90%; height:26px; margin:8px auto 0px auto;}
.SonlineBox .contentBox .listBox .QQList span{float:left; line-height:22px;}
.SonlineBox .contentBox .listBox .QQList a{float:left;}
.SonlineBox .contentBox .gglxfs dl{padding:5px 10px 18px; line-height:18px; color:#A8131E; font-size:14px;}
.SonlineBox .contentBox .gglxfs dl dd{font-size:20px; display:block; margin-left:0px; text-align: right; padding:3px 0;}
/*通用*/
.jz{
	width:969px;
	margin:0 auto;
}
.clr {
	display: block;
	height: 1px;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	font-size:0px;
}
.fl {
	float:left;
}
/*连接部分*/
a:link, a:visited {
	color:#6d7173;
	text-decoration: none;
}
a:hover {
	color:#000;
	text-decoration: underline;
}
a:active {
	color:#cc0006;
	text-decoration: none;
}
.hs a:link, .hs a:visited {
	color:#daac00;
}
.hs a:hover {
	color:#c00000;
}
.hs a:active {
	color:#333;
}
.bs a:link, .bs a:visited {
	color:#fff;
}
.bs a:hover {
	color:#000;
}
.bs a:active {
	color:#ccc;
}