@charset "utf-8";
/* CSS Document */
/*幻灯片*/
.hdp{
	height:672px;
	overflow:hidden;
}
.hdpk{
	width:50%;
	height:672px;
	padding-left:445px;
	display:block;
	position:relative;
	float:right;
	overflow:hidden;
}
.hdp .jshdp{
	width:10000px;
	height:672px;
	overflow:hidden;
	left:0px;
	position:absolute;
}
.hdp .jshdp .jsNav,.hdp .hdpr{
	filter: Alpha(Opacity=00);
	opacity:0.00;
	width:1px;
	height:1px;
	font-size:1px;
	overflow:hidden;
}
.hdp .box01 span{
	background-repeat: no-repeat;
	background-position:left 0px;
	height:672px;
	display:block;
	overflow:hidden;
	width:100%;
}
/*背景*/
.bj{
	background-image:url(../image/bj.png);
	*_background-image:url(../image/bj.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	display:block;
	position:absolute;
	top:0px;
	width:100%;
	z-index:1;
}
/*侧边栏*/
.cbl{
	width:173px;
	display:block;
	padding-top:63px;
	padding-bottom:60px;
	float:left;
}
.logo{
	width:173px;
	height:76px;
	display:block;
	overflow:hidden;
}
.logo a{
	display:block;
	width:173px;
	height:76px;
	background:url(../image/logo.png);
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='image/logo.png');
	_background-image: none;
}
/*导航*/
.dh{
	margin-top:15px;
	width:173px;
}
.nav{
	width:173px;
	z-index:2;
	position:relative;
}
.nav ul li {
	width:133px;
	height:46px;
	position:relative;
	margin-bottom:7px;
}
.nav ul li a {
	width:103px;
	height:41px;
	display:block;
	padding:5px 0 0 30px;
	display:inline-block;
	cursor:pointer;
	z-index:1;
	position:relative;
	font-size:14px;
	font-weight: bolder;
	letter-spacing: 2px;
}
.nav ul li a span{
	font-size:12px;
	font-weight: normal;
	display:block;
	padding-left:3px;
	color:#727272;
	letter-spacing: 0px;
}
.nav ul li .onemenulayout {
	width:194px;
	height:37px;
	overflow:hidden;
	border-bottom:1px solid #6babd8;
}
.nav ul li .onemenulayout a{
	letter-spacing: 0px;
	background:none;
	font-size:12px;
	display:block;
	width:188px;
	font-weight: normal;
	padding:0px 3px;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #488bbb;
}
.nav ul li .onemenulayout a:hover {
	background:#2a2a2a;
	color:#fff;
}
.drop_dwon {
	position:absolute;
	left:133px;
	top:0px;
	display:none;
	z-index:3;
	background:#5b9dcc;
	padding:8px 16px 12px;
	width:194px;
}
.nav ul li a.currlayout{
	color:#fff;
	z-index: 999;
	position: relative;
	background:url(../image/dhbj.png);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale',src='image/dhbj.png');
	_background-image: none;
}
.nav a:link, .nav a:visited {
	color:#3c3b3b;
}
.nav .drop_dwon a:link, .nav .drop_dwon a:visited {
	color:#fff;
	background:none;
}
.nav a:hover {
	color:#fff;
	text-decoration: none;
}
.nav a:active {
	color:#161314;
}
/*首页*/
.sy{
	float:left;
	width:464px;
	float:right;
	overflow:hidden;
}
.sys{
	height:432px;
	width:381px;
	background:#2a2a2a;
	display:block;
	overflow:hidden;
}
.syzw{
	padding:60px 24px 0;
	overflow:hidden;
	display:block;
}
.syzw h1,.syzw h2,.syzw h3,.syzw h4{
	font-weight: normal;
	padding-bottom:12px;
}
.syzw h1{
	font-size:26px;
	color:#fff;
	padding-bottom:22px;
	letter-spacing: 2px;
}
.syzw h2{
	font-size:14px;
}
.syzw h3{
	font-size:12px;
	line-height:16px;
}
.syzw h4{
	font-family: "宋体";
	font-size: 12px;
	text-align: right;
}
.syzw h4 a{
	padding:3px 8px;
}
.syx{
	background:url(../image/sydb.png);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale',src='image/sydb.png');
	_background-image: none;
	overflow:hidden;
	display:block;
	width:464px;
	height:203px;
}
/*小导航*/
.xdh{
	display:block;
	height:48px;
	line-height:38px;
	overflow:hidden;
	text-align: right;
}
.xdh a{
	margin:0 18px;
}
/*版权*/
.bq{
	height:32px;
	line-height:32px;
	opacity:0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	background:#000;
	display:block;
	overflow:hidden;
	width:100%;
}
.synr .bq{
	position:absolute;
	bottom:0px;
}
.htlj{
	position:absolute;
	left:0px;
	opacity:0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
}
.bqgs{
	float:left;
	width:49%;
}
.bqgsyw{
	float:right;
	width:49%;
	text-align: right;
}
/*内页*/
.nry{
	width:689px;
	float:right;
	background:#2a2a2a;
	margin-bottom:150px;
	padding-bottom:66px;
}
.dqbt{
	height:56px;
	line-height:56px;
	display:block;
	overflow:hidden;
	padding:0 24px;
	color:#fff;
	font-size:26px;
	letter-spacing: 2px;
	border-bottom:1px solid #000;
}
.dqbt span{
	font-size:16px;
	letter-spacing: 0px;
	padding-left:20px;
	color:#a7a7a7;
}
.nyzw{
	padding-top:18px;
	border-top:1px solid #363636;
}
/*分页*/
.fy {
	width:280px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin:8px auto 0;
	display:block;
}
.fy .fys {
	float:left;
	width:38px;
	height:30px;
	padding-left:15px;
	background:url(../image/fys.jpg) no-repeat #003d79;
}
.fy .fyx {
	float:left;
	width:50px;
	height:30px;
	padding-left:3px;
	background:url(../image/fyx.jpg) no-repeat right 0 #003d79;
}
.fy span {
	float:left;
	height:26px;
    line-height:26px;
	border:2px solid #003d79;
	margin:0 1px;
	padding:0 8px;
	color:#003a69;
	font-size:14px;
	background:#a4c8d9;
}
.fy span b {
	color:#353535;
	font-size:16px;
	margin-right:3px;
}
/*产品列表*/
.cplb{}
.cplb dl{
	width:203px;
	height:203px;
	display:block;
	overflow:hidden;
	background:#1b1b1b;
	border:1px solid #000;
	float:left;
	margin-left:18px;
	*_margin-left:13px;
	margin-bottom:18px;
	position:relative;
}
.cplb dl dt{
	width:179px;
	height:179px;
	overflow:hidden;
	text-align:center;
	display:block;
	vertical-align:middle;
	margin:12px;
}
.cplb dl dt b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.cplb dl dt img{
	cursor:pointer;
	vertical-align:middle;
	max-width:179px;
	max-height:179px;
 _width:expression(this.width > 179 && this.width > this.height ?179: true);
 _height:expression(this.height > 179 ? 179 : true);
}
.cplb dl dd{
	width:203px;
	height:30px;
	line-height:30px;
	position:absolute;
	bottom:0px;
	text-align: center;
	display:block;
	background:#000;
	opacity:0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	color:#fff;
}
/*产品内容*/
.cpnr{
	padding:0 18px;
	display:block;
	overflow:hidden;
}
#cpnrd{
	float:left;
	width:400px;
	height:400px;
	overflow:hidden;
	background:#1b1b1b;
	border:1px solid #000;
	padding:13px;
	margin-right:18px;
	display: inline;
}
#cpnrd ol li {
	width:400px;
	height:400px;
	overflow:hidden;
	text-align:center;
	display:block;
	vertical-align:middle;
}
#cpnrd ol li b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
#cpnrd ol li img{
	vertical-align:middle;
	max-width:400px;
	max-height:400px;
	cursor: pointer;
 _width:expression(this.width > 400 && this.width > this.height ?400: true);
 _height:expression(this.height > 400 ? 400 : true);
}
#cpnrx {
	float:left;
	width:200px;
	display:block;
	overflow:hidden;
}
#cpnrx ul li {
	float:left;
	background:#1b1b1b;
	border:2px solid #5b9dcc;
	width:88px;
	height:88px;
	margin-left:8px;
	*_margin-left:5px;
	margin-bottom:8px;
	overflow:hidden;
	cursor: pointer;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
#cpnrx ul li b{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
#cpnrx ul li img{
	vertical-align:middle;
	max-width:88px;
	max-height:88px;
 _width:expression(this.width > 88 && this.width > this.height ?88: true);
 _height:expression(this.height > 88 ? 88 : true);
}
#cpnrx ul li.ztwdj {
	filter: Alpha(Opacity=70);
	opacity:0.7;
	border:2px solid #000;
}
.cpnrn h1 {
	font-weight: bolder;
	font-size:26px;
	color:#fff;
	padding:10px 8px;
	float:left;
	width:450px;
	display:block;
	overflow:hidden;
}
.cpnrn h2{
	float:left;
	padding:1px;
	border:1px solid #003d79;
	width:152px;
	height:29px;
	overflow:hidden;
	line-height:28px;
	font-size:12px;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
	color: #FFF;
	cursor:pointer;
	margin-top:12px;
}
.cpnrn h2 a{
	display:block;
	height:29px;
	background:#003d79;
}
.cpnrn h5 {
	height:35px;
	line-height:35px;
	overflow:hidden;
	font-size:14px;
	padding:0 20px;
	margin-top:10px;
	color:#fff;
	background:#1b1b1b;
	letter-spacing: 2px;
	border-top:1px solid #000;
}
.cpnrn h5 span{
	float:right;
	display:block;
	width:200px;
	*_position:relative;
	*_top:-35px;
}
.cpnrn .spxqx {
	padding:8px 40px;
	line-height:200%;
	color:#7e7e7e;
}
.cpnrzwk{
	width:732px;
	display:block;
	overflow:hidden;
}
.cpnrzwk img{
	max-width:732px;
 _width:expression(this.width > 732 && this.width > this.height ?732: true);
}
/*文章列表*/
.wzlb {
	padding:0 18px 18px;
}
.wzlb dl {
	border-bottom:1px dashed #444;
	padding:10px 8px;
	margin:0 6px;
}
.wzlb dl dt {
	height:32px;
	line-height:32px;
	overflow:hidden;
}
.wzlb dl dt b {
	font-size:16px;
	float:left;
	width:70%;
	padding-right:9%;
	color:#fff;
}
.wzlb dl dt b a {
	margin-left:3px;
}
.wzlb dl dt span {
	float:left;
	width:20%;
}
.wzlb dl dd {
	height:54px;
	line-height:16px;
	overflow:hidden;
	padding:0 50px 0 15px;
}
.wzlb dl dd span {
	padding:1px;
	height:50px;
	border:1px solid #000;
	background:#1b1b1b;
	float:left;
	margin-right:8px;
}
.wzlb dl dd span img {
	height:50px;
}
/*文章内容*/
.wznr {
	display:block;
	overflow:hidden;
}
.wznrt {
	text-align: center;
	border-bottom:1px solid #444;
	padding-bottom:8px;
	margin:0 18px 10px;
}
.wznrt h1 {
	font-size:26px;
	padding:10px 0 12px;
	color:#fff;
}
.wznrt span {
	margin:0 16px;
	color:#a9a9a9;
}
.wznrzw {
	padding:5px 22px 30px;
	line-height:200%;
	font-size:14px;
}
.wznrzw pre {
	z-index:-1;
}
.wznrzw img {
	margin:16px 20px;
	cursor:pointer;
	padding:8px;
	border:1px solid #000;
	background:#1b1b1b;
	z-index:1;
	max-height:360px;
 _height:expression(this.height > 360 ? 360 : true);
}
/*文章视频*/
.nysp {
	text-align:center;
	margin-bottom:10px;
}
.nyspk {
	display:inline-block;
 *display:inline;
}
.nyspem {
	background:#1b1b1b;
	padding:4px;
	display:inline-block;
 *display:inline;
	border:1px solid #000;
}
/*上下篇*/
.sxp {
	margin-top:20px;
	background:#1b1b1b;
	line-height:38px;
	height:38px;
}
.sxp span, .sxp b {
	float:left;
	height:38px;
	width:40%;
	overflow:hidden;
	padding-left:11px;
	color:#fff;
}
.sxp b {
	float:right;
	font-weight: normal;
}
/*联系我们*/
.lxwm{
	padding:0 18px;
	display:block;
	overflow:hidden;
}
.lxwml{
	float:left;
	width:290px;
	border-right:1px solid #000;
	padding-right:18px;
	padding-bottom:18px;
	display:block;
	overflow:hidden;
}
.lxwml dl{
	border-bottom:1px solid #444;
	padding-bottom:18px;
	margin-bottom:20px;
	line-height:16px;
}
.lxwml dl dt{
	font-style: oblique;
	font-size: 14px;
	font-weight: bolder;
	padding-bottom:10px;
}
.lxwml dl dd{
	display:block;
	color:#FFF;
	padding:0 8px 3px;
	width:287px;
	overflow:hidden;
}
.lxwml dl dd .wznrzw{
	font-size:12px;
	padding:0px;
}
.lxwml dl dd .wznrzw img{
	margin:0px;
	width: 258px;
}
.lxwmr{
	border-left:1px solid #000;
	float:left;
	display:block;
	overflow:hidden;
	width:326px;
	display:block;
	padding-left:18px;
	padding-bottom:18px;
	margin-left:-1px;
}
.lxwmr ol li{
	height:48px;
	overflow:hidden;
}
.lxwmr ol li.wzy{
	height:89px;
}
.lxwmr ol li.wzy textarea{
	height:70px;
	border:1px solid #000;
	width:200px;
	padding:2px 8px 0px 3px;
	overflow:hidden;
	background-color:#232323;
	color:#a7a7a7;
	display:block;
}
.lxwmr ol li h4{
	font-size: 12px;
	text-align: right;
	padding-right: 3px;
	float:left;
	width:72px;
	padding-top:6px;
	font-weight: normal;
}
.lxwmr ol li h5{
	float:left;
	width:220px;
	font-size: 12px;
	font-weight: normal;
}
.lxwmr ol li.yzm h5{
	width:208px;
}
.lxwmr ol li h5.tchy{
	width:350px;
}
.lxwmr ol li h5.tchy b,.lxwmr ol li h5.tchy a{
	margin:0 6px;
}
.lxwmr ol li h5 input{
	border:1px solid #000;
	width:200px;
	padding:2px 8px 0px 3px;
	overflow:hidden;
	height:24px;
	line-height:22px;
	background-color:#232323;
	color:#a7a7a7;
	display:block;
}
.lxwmr ol li h6{
	float:left;
	width:30px;
	color:#a50307;
	font-size: 12px;
	font-weight: normal;
	padding-top:7px;
}
.lxwmr ol li.yzm h5 span{
	width:93px;
	float:left;
}
.lxwmr ol li.yzm h5 input{
	width:72px;
	margin-bottom:5px;
}
.lxwmr ol li.yzm h5 img{
	width:100px;
	height:48px;
	cursor:pointer;
}
.lxwmr ol li h3{
	border: 1px solid #000;
	width:248px;
	padding:1px;
	height:32px;
	color:#a7a7a7;
	margin:25px auto;
	font-weight: normal;
	font-size:12px;
}
.lxwmr ol li h3 a{
	background:#1b1b1b;
	height:32px;
	line-height:32px;
	text-align: center;
	display:block;
}
.lxwmr ol li.dltj{
	height:71px;
}
.lxwmr ol li.dlggw{
	height:140px;
	margin-top:18px;
	*margin-top:9px;
}
/*地图*/
.ditu {
	width:625px;
	padding:13px;
	background:#1b1b1b;
	border: 1px solid #000;
	display:block;
	overflow:hidden;
}
.iw_poi_title {
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
}
.iw_poi_content {
	font:12px arial, sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word
}